/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  width: 100%;
  background-image: var(--gradient);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  margin: 100px 0px;
  width: clamp(375px, 48vw, 696px);
  height: clamp(327px, 50vh, 364px);
  background-color: #FFFFFF;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logo {
  text-decoration: none;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(49px, 2.71rem + 1.502vw, 65px);
}

.header__title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(14px, 0.677rem + 0.845vw, 23px);
}

.main {
  width: clamp(375px, 48vw, 700px);
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 0;
}

.cards__section {
  justify-content: center;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.cards__list-item {
  min-height: min-content;
  min-width: 371px;
  max-width: 696px;
  max-height: 959px;
  width: 100%;
  background-color: #FFFFFF;
}

.card-title-box {
  padding: 4px 10px 6px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

.card-title {
  font-family: var(--main-font);
  font-weight: var(--title-weight);
  font-size: 18px;
  line-height: 19/18;
}

.card__image-container {
  position: relative;
}

.image-2 {
  filter: grayscale(20%) ;
}

.image-3 {
  filter: saturate(150%);
}

.image-4 {
  filter: hue-rotate(5deg);
}

.image-5 {
  filter: invert(0%);
  border: 2px solid var(--accent-font);
}

.image-6 {
  filter: sepia(90%);
}

.image-7 {
  filter: blur(0px);
}

.image-8 {
  filter: contrast(100%), brightness(100%);
}

.card__label {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  right: 13px;
  top: 25px;
  z-index: 1;
  text-shadow: 
    -1px -1px 0 var(--stroke-color),
    1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color),
    1px 1px 0 var(--stroke-color);
  opacity: 50%;
}

@supports ((-webkit-text-stroke: 1px var(--stroke-color)) or (text-stroke: 1px var(--stroke-color))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.card__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
  border: 2px solid var(--accent-font);
}

.card__content {
  position: relative;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 25px;
}

.card-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.buttons {
  height: 38px;
  width: 169px;
  margin: 25px 0 0 0;
  display: flex;
  gap: 6px;
  justify-self: end;
}

.button {
  border: none;
  background-color: transparent;
}

.card__like-button {
  width: 138px;
  border: 2px solid #000000;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.main__dialog-button {
  border: 2px solid var(--main-color);
  margin: 54px auto 100px;
  background-color: var(--main-bg-color);
  min-width: 306px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  gap: 8px;
}

.main__dialog-text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.dialog {
  width: 341px;
  height: 195px;
  
}

.dialog[open] {
  display: grid;
  grid-template-columns: 257px;
  padding: 28px 40px;
  gap: 30px;
  border: 2px solid var(--main-color);
  overflow: hidden;
}

.dialog-content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
  block-size: 63px;
}

.dialog-text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.ok-button {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  block-size: 38px;
  border: 2px solid var(--main-color);
  width: 100%;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  
}

@media (width >=400px) {
  .header {
    margin: 100px auto;
  }
  .dialog {
    width: 357px;
    height: 197px;
  }
  .dialog[open] {
    grid-template-columns: 293px;
    padding: 30px;
  }
  .dialog-content {
    gap: 20px;
    align-items: center;
  }
  .card__label {
    right: 25px;
  }
  .main__dialog-button {
    flex-direction: row;
    padding: 15px 19px;
  }
}

