/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', sans-serif;
  --text-weight: 400;
  --title-weight: 700;

  --gradient: 
      repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0/ 0) 2px 4px),
      repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0/ 0) 2px 4px),
      linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%,#1a1a1a 100%);
  --stroke-color: #fff;
  --main-color: #000;
  --accent-color: #000;
  --main-bg-color: #fff;

  /*сердце*/
  --countur-color: black;
  --main-body-color: #FF0000;
  --core-color: white;
  --sparks-color: #FF0000;
}
